/* ==========================================================================
                                custom styles
========================================================================== */

/** https://stackoverflow.com/questions/3245141/using-otf-fonts-on-web-browsers **/
@font-face {
    font-family: 'tanseek';
    src: url('../fonts/TanseekMMedium-eot.eot'); /* IE9 Compat Modes */
    src: url('../fonts/TanseekMMedium-eot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/TanseekMMedium-woff2.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/TanseekMMedium-woff.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/TanseekMMedium-ttf.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/TanseekMMedium-svg.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'tanseek-bold';
    src: url('../fonts/TanseekMBold-eot.eot'); /* IE9 Compat Modes */
    src: url('../fonts/TanseekMBold-eot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/TanseekMBold-woff2.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/TanseekMBold-woff.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/TanseekMBold-ttf.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/TanseekMBold-svg.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'tanseek-extra-bold';
    src: url('../fonts/TanseekMExtraBold-eot.eot'); /* IE9 Compat Modes */
    src: url('../fonts/TanseekMExtraBold-eot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/TanseekMExtraBold-woff2.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/TanseekMExtraBold-woff.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/TanseekMExtraBold-ttf.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/TanseekMExtraBold-svg.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {padding-top: 50px; padding-bottom: 20px;}
body {font-family: tanseek; font-size: 20px; line-height:20px; color: #353d4e; background-color: #ecedf1}
.jumbotron {background-color: #0e1638;}
.container {width: 980px; padding: 0;}
.main-slider .box {display: inline-block; vertical-align: top; margin-right: 5px}
.main-slider .box a {display: block;margin-bottom: 10px;}
.main-slider .big-box a:hover, .main-slider .small-box a:hover{-webkit-animation: pulse 1s; animation: pulse 1s;}
.main-slider .big-box {width: 400px;}
.main-slider .small-box {width: 280px;}
.video-icon {background: url(../img/video-player.png) no-repeat scroll top center transparent; position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; width: 48px; height: 48px;}

.main-slider .rec-sm {width: 135px; height: 185px; display: block;}
.main-slider a.rec-sm {position: relative; display: inline-block; margin-right: 5px; vertical-align: top;}
.main-slider .rec-sm img {position: absolute;top: 0;bottom: 0;right: 0;left: 0;margin: auto;}

.main-systems {width: 980px;margin: 0 auto;padding:0;}
.main-systems .box {display: inline-block; padding: 15px 55px;}
.main-systems .box.seperator {background: url(../img/seperator.jpg) right center no-repeat scroll transparent;}
.main-systems .box.small-box {padding: 15px 20px;}





.nomargin {margin: 0 !important;}
.opacity-dark {opacity: 0.6;}
.caption-text {position: absolute; bottom: 0; width: 100%; padding: 15px; color: #ffffff; font-size: 24px; line-height: 24px; right: 0; left: 0;}

.red-bg{background-color: #cc0000}
.blue-bg{background-color: #2b4885}
.gray-bg{background-color: #353d4e;}
.opacity-red-bg{background-color: rgba(208, 41, 32, 0.9);}
.absolute {position: absolute;}
.relative {position: relative;}
