/*==================================================
=            Bootstrap 3 Media Queries             =
https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .container {text-align: center;}
    .main-slider .box {width: 85%;}
    .main-slider .box img {width: 100%; height: auto;}    
    .main-slider .rec-sm img {width: auto;}    
    .main-systems {width: 100%;}   
    .main-systems .box.small-box {width: 100%;}     
    .main-systems .box {width: 49%;} 
    .main-systems .box.seperator {background: none;} 
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}